<li class="list-group-item hstack gap-2 align-items-center">
  <div class="align-self-start">
    {{#if @file.isParsing}}
      <div class="spinner-border spinner-border-seconcary spinner-border-sm opacity-50" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    {{else}}
      {{#if @errors.length}}
        {{svg-jar 'x-circle-fill-16' class='octicon fill-danger' style='margin-top: 2.5px;'}}
      {{else}}
        {{svg-jar 'check-circle-fill-16' class='octicon fill-success' style='margin-top: 2.5px;'}}
      {{/if}}
    {{/if}}
  </div>

  <div class={{if @file.isParsing 'opacity-50'}}>
    {{@file.name}} <small class="text-muted">{{filesize @file.size}}</small>

    <small class="hstack gap-3 text-muted">
      {{#if @file.isParsing}}
        Parsing...
      {{else}}
        {{#with @file.parsedData as |data|}}
          {{#if @file.isAnnotation}}
            <div>
              <b>Contact person</b>
              {{#with data.contactPerson as |person|}}
                {{person.fullName}}
                &lt;{{person.email}}&gt;
                ({{person.affiliation}})
              {{else}}
                -
              {{/with}}
            </div>

            <div>
              <b>Hold date</b>
              {{or data.holdDate '-'}}
            </div>
          {{/if}}

          {{#if @file.isSequence}}
            <div>
              <b>エントリ数</b>
              {{format-number data.entriesCount}}
            </div>
          {{/if}}
        {{/with}}
      {{/if}}
    </small>

    {{#if @errors}}
      <ul class="list-unstyled text-danger">
        {{#each @errors as |error|}}
          <li>{{error}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </div>

  <div class="ms-auto">
    <button type="button" class="btn btn-link p-2" {{on 'click' (prevent-default (fn @onRemove @file))}}>
      {{svg-jar 'no-entry-24' class='octicon fill-danger' role='img' desc='削除'}}
    </button>
  </div>
</li>
