{{page-title '新規登録'}}

<style>
  body {
    counter-reset: section 0;
  }

  form > .card > .card-header:before {
    counter-increment: section 1;
    content: counter(section) '. ';
  }

  .border-dashed {
    border-style: dashed;
  }

  .drag-over * {
    pointer-events: none;
  }
</style>

<h1 class="display-6 my-4">新規申し込み</h1>

<nav class="nav nav-pills nav-justified my-4">
  {{#each this.nav.steps as |step|}}
    <a href class="nav-link {{if (this.nav.isCurrent step) 'active'}} {{if (this.nav.isFollowing step) 'disabled'}}">
      {{t (concat 'submission-form.steps.' step)}}
    </a>
  {{/each}}
</nav>

{{component (concat 'submission-form/' this.nav.currentStep) model=@model state=this.state nav=this.nav}}
