{{page-title '新規登録'}}

<style>
  body {
    counter-reset: section 0;
  }

  form > .card > .card-header:before {
    counter-increment: section 1;
    content: counter(section) '. ';
  }

  .border-dashed {
    border-style: dashed;
  }

  .drag-over * {
    pointer-events: none;
  }
</style>

<h1 class="display-6 my-4">新規申し込み</h1>

<input type="file" multiple accept=".ann, .fasta" class="d-none" {{did-insert (set this 'fileInputElement')}} {{on 'change' (pipe (pick 'target.files' this.addFiles) (set this 'fileInputElement.value' ''))}} />

<UploadProgressModal as |modal|>
  <form class="vstack gap-3 mb-5" {{on 'submit' (prevent-default (fn this.submit modal))}}>
    <div class="card">
      <div class="card-header">
        Requirement
      </div>

      <div class="card-body">
        <p>
          登録可能なデータは次の通りです。<br>
          <a href="https://www.ddbj.nig.ac.jp/documents/data-categories.html#accept" target="_blank" rel="noopener">https://www.ddbj.nig.ac.jp/documents/data-categories.html#accept</a>
        </p>

        <p>以下のすべてに該当する場合のみ申し込みできます。いずれか該当しない場合は、submissionを分け、submsssionごとにMSS申し込みを行ってください。</p>

        <ul class="mb-0">
          <li>Contact personが同一</li>
          <li>登録データ種別が1種類</li>
          <li>公開予定日が同一</li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        Determination of the nucleotide sequence
      </div>

      <div class="card-body vstack gap-3">
        <div>
          <p>自身の研究で配列決定した塩基配列ですか</p>

          <RadioGroup as |group|>
            <div class="form-check">
              <group.radio as |radio|>
                <radio.input checked={{eq this.determinedByOwnStudy true}} required class="form-check-input" {{on 'change' (fn this.setDeterminedByOwnStudy true)}} />

                <radio.label class="form-check-label">
                  はい、自身の研究で配列決定した塩基配列です
                </radio.label>
              </group.radio>
            </div>

            <div class="form-check">
              <group.radio as |radio|>
                <radio.input checked={{eq this.determinedByOwnStudy false}} required class="form-check-input" {{on 'change' (fn this.setDeterminedByOwnStudy false)}} />

                <radio.label class="form-check-label">
                  いいえ、公開されているデータからアセンブルした塩基配列です
                </radio.label>
              </group.radio>
            </div>
          </RadioGroup>
        </div>

        {{#if (eq this.determinedByOwnStudy false)}}
          <div>
            <p>
              TPA (Third party data) として登録できる可能性があります。peer-reviewつき雑誌の学術論文に投稿し、配列作成に関する内容を公開する予定ですか。<br>
              論文を準備しないのであればTPA(Third party data)として申し込みできませんのでキャンセルしてください。
            </p>

            <RadioGroup as |group|>
              <div class="form-check">
                <group.radio as |radio|>
                  <radio.input checked={{eq @model.tpa true}} required class="form-check-input" {{on 'change' (set @model 'tpa' true)}} />

                  <radio.label class="form-check-label">
                    はい
                  </radio.label>
                </group.radio>
              </div>

              <div class="form-check">
                <group.radio as |radio|>
                  <radio.input checked={{eq @model.tpa false}} required class="form-check-input" {{on 'change' (set @model 'tpa' false)}} />

                  <radio.label class="form-check-label">
                    いいえ
                  </radio.label>
                </group.radio>
              </div>
            </RadioGroup>
          </div>

          {{#if (eq @model.tpa false)}}
            <p>TPAの場合、論文を準備しないのであれば申し込みできません。フォームを閉じてください。</p>
          {{/if}}
        {{/if}}
      </div>
    </div>

    {{#if (or this.determinedByOwnStudy @model.tpa)}}
      <div class="card">
        <div class="card-header">
          Submission file
        </div>

        <div class="card-body vstack gap-3">
          <div>
            <p><a href="https://www.ddbj.nig.ac.jp/ddbj/ume.html" target="_blank" rel="noopener">UME</a> (Parser, transChecker) でチェック済みのSubmission fileを作成済みであればuploadしてください</p>

            <RadioGroup as |group|>
              <div class="form-check">
                <group.radio as |radio|>
                  <radio.input checked={{eq this.submissionFileType 'dfast'}} required class="form-check-input" {{on 'change' (fn this.setSubmissionFileType 'dfast')}} />

                  <radio.label class="form-check-label">
                    DFASTで作成したBacterial complete genome または WGSのsubmission fileをuploadする
                  </radio.label>
                </group.radio>
              </div>

              <div class="form-check">
                <group.radio as |radio|>
                  <radio.input checked={{eq this.submissionFileType 'without-dfast'}} required class="form-check-input" {{on 'change' (fn this.setSubmissionFileType 'without-dfast')}} />

                  <radio.label class="form-check-label">
                    DFASTを使わずsubmission fileを作成済みでありuploadする
                  </radio.label>
                </group.radio>
              </div>

              <div class="form-check">
                <group.radio as |radio|>
                  <radio.input checked={{eq this.submissionFileType 'none'}} required class="form-check-input" {{on 'change' (fn this.setSubmissionFileType 'none')}} />

                  <radio.label class="form-check-label">
                    申し込み後にsubmission fileを作成する
                  </radio.label>
                </group.radio>
              </div>
            </RadioGroup>
          </div>

          {{#if (or (eq this.submissionFileType 'dfast') (eq this.submissionFileType 'without-dfast'))}}
            <div>
              <ul>
                <li>Submission fileを圧縮せずにuploadしてください。</li>
                <li>Requirementに従っていれば、複数セットのsubmission fileをuploadできます。</li>
                <li>各Submissionのfile拡張子は必ず、.ann (アノテーションファイル)、.fasta (塩基配列)とし、拡張子を除く名称を同一にしてください。</li>
                <li>Linuxのlsコマンドでの名前ソート順にAccession番号が発行されます。</li>
              </ul>

              {{#if this.files}}
                <div class="card {{if this.dragOver 'drag-over opacity-50 border-primary'}}" {{drop-target this.addFiles enter=(set this 'dragOver' true) leave=(set this 'dragOver' false)}}>
                  <ul class="list-group list-group-flush">
                    {{#each this.files as |file|}}
                      <li class="list-group-item d-flex align-items-center">
                        <div class="ms-2 me-auto">
                          {{file.name}}
                          <small class="text-muted">{{filesize file.size}}</small>
                        </div>

                        <div>
                          <button type="button" class="btn btn-outline-danger" {{on 'click' (prevent-default (fn this.removeFile file))}}>削除</button>
                        </div>
                      </li>
                    {{/each}}
                  </ul>

                  <div class="card-footer d-flex justify-content-between align-items-center bg-white">
                    <div>
                      <button type="button" class="btn btn-outline-primary" {{on 'click' (prevent-default this.selectFiles)}}>
                        ファイルの追加
                      </button>
                    </div>

                    <div>
                      {{this.files.length}}ファイル、{{filesize (sum (map-by 'size' this.files))}}
                    </div>
                  </div>
                </div>
              {{else}}
                <div class="card border-2 border-dashed {{if this.dragOver 'drag-over opacity-50 border-primary'}}" {{drop-target this.addFiles enter=(set this 'dragOver' true) leave=(set this 'dragOver' false)}}>
                  <div class="card-body py-5 text-center">
                    <a href="#" class="stretched-link" {{on 'click' (prevent-default this.selectFiles)}}>ファイルを選択</a>するか、ここにファイルをドロップしてください。
                  </div>
                </div>
              {{/if}}
            </div>
          {{/if}}
        </div>
      </div>

      {{#if (not-eq this.submissionFileType null)}}
        <div class="card">
          <div class="card-header">
            Number of entries, hold date
          </div>

          <div class="card-body row row-cols-2">
            <div class="col">
              <label for="entriesCount" class="form-label">登録件数</label>
              <input type="number" value={{@model.entriesCount}} required min="1" class="form-control" id="entriesCount" {{on 'change' (pick 'target.value' (set @model 'entriesCount'))}} />
            </div>

            <div class="col vstack gap-1">
              <div>
                <label for="holdDate" class="form-label">公開予定日 (Hold date)</label>
                <input type="date" value={{@model.holdDate}} disabled={{this.releaseImmediately}} required class="form-control" id="holdDate" {{on 'change' (pick 'target.value' (set @model 'holdDate'))}} />
              </div>

              <div class="form-check">
                <input type="checkbox" checked={{this.releaseImmediately}} class="form-check-input" id="releaseImmediately" {{on 'change' (pick 'target.checked' this.setReleaseImmediately)}} />
                <label for="releaseImmediately" class="form-check-label">Release immediately</label>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            Contact person
          </div>

          <div class="card-body row row-cols-2 gy-3">
            {{#let @model.contactPerson as |person|}}
              <div class="col">
                <label for="contactPerson.email" class="form-label">Submission fileのcontact 行に記載する、1名の登録責任者のEmail</label>
                <input type="email" value={{person.email}} required class="form-control" id="contactPerson.email" {{on 'change' (pick 'target.value' (set person 'email'))}} />
              </div>

              <div class="col">
                <label for="contactPerson.fullName" class="form-label">英語名 (フルネーム) を入力してください</label>
                <input type="text" value={{person.fullName}} required maxlength="255" class="form-control" id="contactPerson.fullName" {{on 'change' (pick 'target.value' (set person 'fullName'))}} />
              </div>

              <div class="col">
                <label for="contactPerson.affiliation" class="form-label">所属名 (英語名)</label>
                <input type="text" value={{person.affiliation}} required maxlength="255" class="form-control" id="contactPerson.affiliation" {{on 'change' (pick 'target.value' (set person 'affiliation'))}} />
              </div>
            {{/let}}
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            Another person who would like to contact DDBJ
          </div>

          <div class="card-body">
            <p>コンタクトパーソン以外に登録担当がおり、Accession、公開お知らせ通知を受けたい場合は、このセクションに記入してください</p>

            <div class="row row-cols-2 gy-3">
              {{#let @model.anotherPerson as |person|}}
                <div class="col">
                  <label for="anotherPerson.email" class="form-label">Email address</label>
                  <input type="email" value={{person.email}} required={{this.anotherPersonIsPresent}} class="form-control" id="anotherPerson.email" {{on 'change' (pick 'target.value' (set person 'email'))}} />
                </div>

                <div class="col">
                  <label for="anotherPerson.fullName" class="form-label">英語名 (フルネーム) を入力してください</label>
                  <input type="text" value={{person.fullName}} required={{this.anotherPersonIsPresent}} maxlength="255" class="form-control" id="anotherPerson.fullName" {{on 'change' (pick 'target.value' (set person 'fullName'))}} />
                </div>

                <div class="col">
                  <label for="anotherPerson.affiliation" class="form-label">所属名 (英語名)</label>
                  <input type="text" value={{person.affiliation}} required={{this.anotherPersonIsPresent}} maxlength="255" class="form-control" id="anotherPerson.affiliation" {{on 'change' (pick 'target.value' (set person 'affiliation'))}} />
                </div>
              {{/let}}
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            Sequencer, datatype
          </div>

          <div class="card-body vstack gap-3">
            <div>
              <p>塩基配列決定にどのタイプのシークエンサーを使用しましたか</p>

              <RadioGroup as |group|>
                <div class="form-check">
                  <group.radio as |radio|>
                    <radio.input checked={{eq @model.sequencer 'ngs'}} class="form-check-input" required {{on 'change' (set @model 'sequencer' 'ngs')}} />

                    <radio.label class="form-check-label">
                      NGS
                    </radio.label>
                  </group.radio>
                </div>

                <div class="form-check">
                  <group.radio as |radio|>
                    <radio.input checked={{eq @model.sequencer 'sanger'}} class="form-check-input" required {{on 'change' (set @model 'sequencer' 'sanger')}} />

                    <radio.label class="form-check-label">
                      Sanger dideoxy sequencing
                    </radio.label>
                  </group.radio>
                </div>
              </RadioGroup>
            </div>

            <div>
              <label for="dataType" class="form-label">データ種別を選択してください</label>

              <select required class="form-select" id="dataType" {{on 'change' (pick 'target.value' (set @model 'dataType'))}}>
                <option selected={{is-none @model.dataType}}></option>

                {{#each this.dataTypes as |key|}}
                  <option value={{key}} selected={{eq @model.dataType key}}>
                    {{t (concat 'data_types.' key)}}
                  </option>
                {{/each}}
              </select>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            Title of the submission
          </div>

          <div class="card-body vstack gap-3">
            <div>
              <label for="shortTitle" class="form-label">ショートタイトル</label>
              <input type="text" value={{@model.shortTitle}} required maxlength="80" placeholder="e.g. Draft genome sequences of Pseudomonas five strains" class="form-control" id="shortTitle" {{on 'input' (pick 'target.value' (set @model 'shortTitle'))}} />

              <div class="row">
                <div class="form-text col-auto order-1">
                  {{or @model.shortTitle.length 0}} / 80
                </div>

                <div class="form-text col">
                  このsubmissionにショートタイトルをつけてください。Emailの件名に表示されます。
                </div>
              </div>
            </div>

            <div>
              <label for="description" class="form-label">補足説明</label>
              <textarea required minlength="100" maxlength="1000" rows="8" placeholder="e.g.活性汚泥から単離した Dibenzothiophene分解能を有するPseudomonas属ストレイン5種のドラフトゲノム配列にアノテーションをつけたもの" class="form-control" id="description" {{on 'keypress' this.preventEnter}} {{on 'input' this.onDescriptionInput}}>{{@model.description}}</textarea>

              <div class="row">
                <div class="form-text col-auto order-1">
                  {{or @model.description.length 0}} / 1000
                </div>

                <div class="form-text col">
                  Submissionデータの補足説明をここに記入してください(日本語可)。生物の説明(common nameや性質など)、単離生物由来でない場合は塩基配列をどうやって得たのか、そのほか、Curatorに知らせたいこと等を入力できます。<br>
                  DDBJに登録した配列を更新する場合は対象のAccessionを記入してください。
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            Language for the email
          </div>

          <div class="card-body">
            <p>通知するEメールの言語を選択</p>

            <RadioGroup as |group|>
              <div class="form-check">
                <group.radio as |radio|>
                  <radio.input checked={{eq @model.emailLanguage 'ja'}} required class="form-check-input" {{on 'change' (set @model 'emailLanguage' 'ja')}} />

                  <radio.label class="form-check-label">
                    日本語
                  </radio.label>
                </group.radio>
              </div>

              <div class="form-check">
                <group.radio as |radio|>
                  <radio.input checked={{eq @model.emailLanguage 'en'}} required class="form-check-input" {{on 'change' (set @model 'emailLanguage' 'en')}} />

                  <radio.label class="form-check-label">
                    English
                  </radio.label>
                </group.radio>
              </div>
            </RadioGroup>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            Final section
          </div>

          <div class="card-body vstack gap-3">
            <div class="form-check">
              <input type="checkbox" value={{this.confirmed}} requied class="form-check-input" id="confirmed" {{on 'change' (pick 'target.checked' (set this 'confirmed'))}} />

              <label for="confirmed" class="form-check-label">
                上記入力内容で間違いありません
              </label>
            </div>

            {{#if this.confirmed}}
              <div>
                <p>最後に、Applyボタンを押してください。クリック後は修正できません。</p>
                <input type="submit" value="Apply for MSS" class="btn btn-primary" />
              </div>
            {{/if}}
          </div>
        </div>
      {{/if}}
    {{/if}}
  </form>
</UploadProgressModal>
