{{page-title '新規登録'}}

<style>
  body {
    counter-reset: section 0;
  }

  form > .card > .card-header:before {
    counter-increment: section 1;
    content: counter(section) '. ';
  }

  .border-dashed {
    border-style: dashed;
  }

  .drag-over * {
    pointer-events: none;
  }
</style>

<h1 class="display-6 my-4">新規申し込み</h1>

<nav class="nav nav-pills nav-justified my-4">
  {{#each this.steps as |step i|}}
    <a href class="nav-link {{if (eq i this.currentStepIndex) 'active'}} {{if (gt i this.currentStepIndex) 'disabled'}}">
      {{t (concat 'submission-form.steps.' step)}}
    </a>
  {{/each}}
</nav>

{{#if (eq this.currentStep 'prerequisite')}}
  <SubmissionForm::Prerequisite @model={{@model}} @state={{this.state}} @goNextStep={{this.goNextStep}} />
{{/if}}

{{#if (eq this.currentStep 'files')}}
  <SubmissionForm::Files @model={{@model}} @state={{this.state}} @goNextStep={{this.goNextStep}} />
{{/if}}

{{#if (eq this.currentStep 'metadata')}}
  <SubmissionForm::Metadata2 @model={{@model}} @state={{this.state}} @goNextStep={{this.goNextStep}} />
{{/if}}

{{#if (eq this.currentStep 'confirm')}}
  <SubmissionForm::Confirm @model={{@model}} @state={{this.state}} @goNextStep={{this.goNextStep}} />
{{/if}}

{{#if (eq this.currentStep 'submit')}}
  <SubmissionForm::Submit @model={{@model}} @state={{this.state}} @goNextStep={{this.goNextStep}} />
{{/if}}
