{{page-title '新規登録申請'}}

<style>
  body {
    counter-reset: step 0;
  }

  nav > .nav-link:before {
    counter-increment: step 1;
    content: counter(step) '. ';
  }

  .border-dashed {
    border-style: dashed;
  }

  .drag-over * {
    pointer-events: none;
  }
</style>

<h1 class="display-6 my-4">新規登録申請</h1>

<div class="hstack gap-3 align-items-start my-3">
  <nav class="nav nav-pills flex-column flex-shrink-0">
    {{#each this.nav.steps as |step|}}
      <a href class="nav-link {{(this.nav.linkClass step)}}" {{on 'click' (prevent-default (fn this.nav.gotoStep step))}}>
        {{t (concat 'submission-form.steps.' step)}}
      </a>
    {{/each}}
  </nav>

  <div class="vr"></div>

  <main class="flex-fill">
    {{component (concat 'submission-form/' this.nav.currentStep) model=@model state=this.state nav=this.nav}}
  </main>
</div>
