<form {{on 'submit' this.submit}}>
  <input {{on 'change' this.addFiles}} type="file" multiple>

  <ul>
    {{#each this.files as |file|}}
      <li>{{file.name}} {{filesize file.size}} <button type="button" {{on 'click' (fn this.removeFile file)}}>Remove</button></li>
    {{/each}}
  </ul>

  <input type="submit" value="Submit">
</form>