{{yield this}}

{{#let (unique-id) as |id|}}
  <div class="modal" tabindex="-1" role="dialog" aria-labelledby={{id}} aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" {{did-insert this.setModal}}>
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id={{id}}>{{t 'upload-progress-modal.title'}}</h5>
        </div>

        <div class="modal-body vstack gap-3">
          {{#let this.uploadFiles.currentUpload as |upload|}}
            {{#if upload}}
              <div class="d-flex gap-2 align-items-center">
                <div>{{upload.file.name}}</div>

                {{#unless upload.isStarted}}
                  <div class="spinner-border spinner-border-sm text-primary" role="status">
                    <span class="visually-hidden">{{t 'upload-progress-modal.loading'}}</span>
                  </div>
                {{/unless}}
              </div>

              <div class="progress">
                {{#let (percentage this.uploadFiles.uploadedSize this.uploadFiles.totalSize) as |percentage|}}
                  <div class="progress-bar" role="progressbar" {{style (hash width=(concat percentage '%'))}} aria-valuenow={{percentage}} aria-valuemin="0" aria-valuemax="100"></div>
                {{/let}}
              </div>
            {{/if}}
          {{/let}}
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" {{on 'click' this.hide}}>{{t 'upload-progress-modal.cancel'}}</button>
        </div>
      </div>
    </div>
  </div>
{{/let}}
