{{page-title (t 'upload-form.title')}}

{{#if this.isCompleted}}
  {{t 'upload-form.complete-html' htmlSafe=true}}

  <LinkTo @route="home">{{t 'go-to-home'}}</LinkTo>
{{else}}

  <h1 class="display-6 my-4">{{t 'upload-form.title'}}</h1>

  {{t 'upload-form.description-html' massId=@model.id htmlSafe=true}}

  <UploadProgressModal as |modal|>
    <form {{on 'submit' (prevent-default (fn this.submit modal))}} {{leaving-confirmation disabled=this.session.leavingConfirmationDisabled}}>
      <div class="card">
        <div class="card-body">
          {{t 'upload-form.instructions-html' htmlSafe=true}}

          <FileList::SupportedFileTypes />

          <FileList @files={{this.files}} @crossoverErrors={{this.crossoverErrors}} @onAdd={{this.addFile}} @onRemove={{this.removeFile}} />
        </div>
      </div>

      <hr />

      <div class="text-end">
        <button type="submit" disabled={{not this.isSubmitButtonEnabled}} class="btn btn-primary px-5">{{t 'upload-form.upload'}}</button>
      </div>
    </form>
  </UploadProgressModal>
{{/if}}
