<h2 class="mt-5">Recent Submissions</h2>

<table class="table" {{did-insert this.loadSubmissions}}>
  <thead>
    <tr>
      <th>Mass ID</th>
      <th>Submission Date</th>
      <th>DFAST Job IDs</th>
      <th>Status</th>
      <th>Accession</th>
    </tr>
  </thead>

  <tbody>
    {{#each (sort-by 'id:desc' this.submissions) as |submission|}}
      <tr>
        <td>
          <LinkTo @route="submission" @model={{submission}}>{{submission.id}}</LinkTo>
        </td>

        <td>
          {{format-date submission.createdAt}}
        </td>

        <td>
          <ul class="list-unstyled m-0">
            {{#each (take 3 submission.dfastJobIds) as |jobId|}}
              <li><code>{{jobId}}</code></li>
            {{/each}}
          </ul>

          {{#if (gt submission.dfastJobIds.length 3)}}
            <details>
              <summary>View all</summary>

              <ul class="list-unstyled m-0">
                {{#each (drop 3 submission.dfastJobIds) as |jobId|}}
                  <li><code>{{jobId}}</code></li>
                {{/each}}
              </ul>
            </details>
          {{/if}}
        </td>

        <td>
          {{submission.status}}
        </td>

        <td>
          <ul class="list-unstyled m-0">
            {{#each (take 3 submission.accessions) as |accession|}}
              <li><code>{{accession}}</code></li>
            {{/each}}
          </ul>

          {{#if (gt submission.accessions.length 3)}}
            <details>
              <summary>View all</summary>

              <ul class="list-unstyled m-0">
                {{#each (drop 3 submission.accessions) as |accession|}}
                  <li><code>{{accession}}</code></li>
                {{/each}}
              </ul>
            </details>
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>