<UploadProgressModal as |modal|>
  <form {{on 'submit' (prevent-default (fn this.submit modal))}}>
    <div class="vstack gap-3">
      <div class="card">
        <div class="card-header">{{t 'confirm.prerequisites'}}</div>

        <div class="card-body">
          <ul class="mb-0">
            {{#if @state.maybeTpa}}
              <li>{{t 'submission-form.prerequisite.a1-2'}}</li>

              {{#if @model.tpa}}
                <li>{{t 'submission-form.prerequisite.a2-1'}}</li>
              {{else}}
                <li>{{t 'submission-form.prerequisite.a2-2'}}</li>
              {{/if}}
            {{else}}
              <li>{{t 'submission-form.prerequisite.a1-1'}}</li>
            {{/if}}

            {{#if @state.files.length}}
              {{#if @model.dfast}}
                <li>{{t 'submission-form.files.a1'}}</li>
              {{else}}
                <li>{{t 'submission-form.files.a2'}}</li>
              {{/if}}
            {{else}}
              <li>{{t 'submission-form.files.a3'}}</li>
            {{/if}}
          </ul>
        </div>
      </div>

      {{#with @state.files as |files|}}
        <div class="card">
          <div class="card-header">{{t 'confirm.files'}}</div>

          <ul class="list-group list-group-flush">
            {{#each files as |file|}}
              <li class="list-group-item">{{file.name}}</li>
            {{/each}}
          </ul>
        </div>
      {{/with}}

      <div class="card">
        <div class="card-header">{{t 'confirm.entries-count'}}</div>

        <div class="card-body">
          {{@model.entriesCount}}
        </div>
      </div>

      <div class="card">
        <div class="card-header">{{t 'confirm.hold-date'}}</div>

        <div class="card-body">
          {{or @model.holdDate (t 'confirm.release-immediately')}}
        </div>
      </div>

      <div class="card">
        <div class="card-header">{{t 'confirm.contact-person'}}</div>

        <div class="card-body">
          {{#let @model.contactPerson as |person|}}
            {{person.fullName}} &lt;{{person.email}}&gt; ({{person.affiliation}})
          {{/let}}
        </div>
      </div>

      <div class="card">
        <div class="card-header">{{t 'confirm.other-people'}}</div>

        {{#if @model.otherPeople}}
          <ul class="list-group list-group-flush">
            {{#each @model.otherPeople as |person|}}
              <li class="list-group-item">{{person.fullName}} &lt;{{person.email}}&gt;</li>
            {{/each}}
          </ul>
        {{else}}
          <div class="card-body">
            {{t 'confirm.blank'}}
          </div>
        {{/if}}
      </div>

      <div class="card">
        <div class="card-header">{{t 'confirm.sequencer-type'}}</div>

        <div class="card-body">
          {{t (concat 'sequencers.' @model.sequencer)}}
        </div>
      </div>

      <div class="card">
        <div class="card-header">{{t 'confirm.data-type'}}</div>

        <div class="card-body">
          {{t (concat 'data_types.' @model.dataType)}}
        </div>
      </div>

      <div class="card">
        <div class="card-header">{{t 'confirm.description'}}</div>

        <div class="card-body">
          {{#if @model.description}}
            <div style="white-space: pre-wrap;">{{@model.description}}</div>
          {{else}}
            {{t 'confirm.blank'}}
          {{/if}}
        </div>
      </div>

      <div class="card">
        <div class="card-header">{{t 'confirm.email-language'}}</div>

        <div class="card-body">
          {{t (concat 'locales.' @model.emailLanguage)}}
        </div>
      </div>

      <p>{{t 'confirm.confirm-message'}}</p>
    </div>

    <hr />

    <div class="hstack gap-3 justify-content-end">
      <a href class="btn btn-outline-primary px-4" {{on 'click' (prevent-default @nav.goPrev)}}>{{t 'confirm.nav.back'}}</a>
      <button type="submit" class="btn btn-primary px-5">{{t 'confirm.nav.submit'}}</button>
    </div>
  </form>
</UploadProgressModal>
