<form {{on 'submit' (prevent-default (perform this.goNext))}} {{leaving-confirmation}}>
  <div class="vstack gap-3">
    <div class="card">
      <div class="card-body">
        {{t 'submission-form.files.q-html' htmlSafe=true}}

        <RadioGroup as |group|>
          <div class="form-check">
            <group.radio as |radio|>
              <radio.input checked={{eq @state.uploadType 'dfast'}} required class="form-check-input" {{on 'change' (fn this.setUploadType 'dfast')}} />

              <radio.label class="form-check-label">
                {{t 'submission-form.files.a1'}}
              </radio.label>
            </group.radio>
          </div>

          <div class="form-check">
            <group.radio as |radio|>
              <radio.input checked={{eq @state.uploadType 'without-dfast'}} required class="form-check-input" {{on 'change' (fn this.setUploadType 'without-dfast')}} />

              <radio.label class="form-check-label">
                {{t 'submission-form.files.a2'}}
              </radio.label>
            </group.radio>
          </div>

          <div class="form-check">
            <group.radio as |radio|>
              <radio.input checked={{eq @state.uploadType 'none'}} required class="form-check-input" {{on 'change' (fn this.setUploadType 'none')}} />

              <radio.label class="form-check-label">
                {{t 'submission-form.files.a3'}}
              </radio.label>
            </group.radio>
          </div>
        </RadioGroup>
      </div>
    </div>

    {{#if (or (eq @state.uploadType 'dfast') (eq @state.uploadType 'without-dfast'))}}
      <div class="card">
        <div class="card-body">
          {{t 'submission-form.files.instructions-html' htmlSafe=true}}

          <dl>
            <dt>{{t 'submission-form.files.annotation-file'}}</dt>
            <dd>
              <ul class="list-inline mb-0">
                {{#each this.allowedFileExtensions.annotation as |extension|}}
                  <li class="list-inline-item">
                    <code>{{extension}}</code>
                  </li>
                {{/each}}
              </ul>
            </dd>

            <dt>{{t 'submission-form.files.sequence-file'}}</dt>
            <dd>
              <ul class="list-inline mb-0">
                {{#each this.allowedFileExtensions.sequence as |extension|}}
                  <li class="list-inline-item">
                    <code>{{extension}}</code>
                  </li>
                {{/each}}
              </ul>
            </dd>
          </dl>

          <FileList @files={{@state.files}} @crossoverErrors={{this.crossoverErrors}} @onAdd={{this.addFile}} @onRemove={{this.removeFile}} />
        </div>
      </div>
    {{/if}}
  </div>

  <hr />

  <div class="hstack gap-3 justify-content-end">
    <a href class="btn btn-outline-primary px-4" {{on 'click' (prevent-default @nav.goPrev)}}>{{t 'submission-form.nav.back'}}</a>
    <button type="submit" class="btn btn-primary px-5" disabled={{not (and this.isNextButtonEnabled this.goNext.isIdle)}}>{{t 'submission-form.nav.next'}}</button>
  </div>
</form>
