<form {{on 'submit' (prevent-default this.goNext)}}>
  <div class="vstack gap-3">
    <div class="card">
      <div class="card-body">
        <p>
          <a href="https://www.ddbj.nig.ac.jp/ddbj/ume.html" target="_blank" rel="noopener noreferrer">UME</a> (Parser, transChecker) でチェック済みの登録ファイルを作成済みであればアップロードしてください。
        </p>

        <RadioGroup as |group|>
          <div class="form-check">
            <group.radio as |radio|>
              <radio.input checked={{eq @state.uploadType 'dfast'}} required class="form-check-input" {{on 'change' (fn this.setUploadType 'dfast')}} />

              <radio.label class="form-check-label">
                {{t 'submission-form.files.a1'}}
              </radio.label>
            </group.radio>
          </div>

          <div class="form-check">
            <group.radio as |radio|>
              <radio.input checked={{eq @state.uploadType 'without-dfast'}} required class="form-check-input" {{on 'change' (fn this.setUploadType 'without-dfast')}} />

              <radio.label class="form-check-label">
                {{t 'submission-form.files.a2'}}
              </radio.label>
            </group.radio>
          </div>

          <div class="form-check">
            <group.radio as |radio|>
              <radio.input checked={{eq @state.uploadType 'none'}} required class="form-check-input" {{on 'change' (fn this.setUploadType 'none')}} />

              <radio.label class="form-check-label">
                {{t 'submission-form.files.a3'}}
              </radio.label>
            </group.radio>
          </div>
        </RadioGroup>
      </div>
    </div>

    {{#if (or (eq @state.uploadType 'dfast') (eq @state.uploadType 'without-dfast'))}}
      <div class="card">
        <div class="card-body">
          <ul>
            <li>登録ファイルを圧縮せずにアップロードしてください。</li>
            <li>前提条件に従っていれば、複数セットの登録ファイルをアップロードできます。</li>
            <li>各 Submission のファイル拡張子は必ず <code>.ann</code> (アノテーションファイル)、<code>.fasta</code> (塩基配列) とし、拡張子を除く名称を同一にしてください。</li>
            <li>Linux の <code>ls</code> コマンドでの名前ソート順に Accession 番号が発行されます。</li>
          </ul>

          <FileList @files={{@state.files}} @crossoverErrors={{this.crossoverErrors}} @onAdd={{this.addFile}} @onRemove={{this.removeFile}} />
        </div>
      </div>
    {{/if}}
  </div>

  <hr />

  <div class="hstack gap-3 justify-content-end">
    <a href class="btn btn-outline-primary px-4" {{on 'click' (prevent-default @nav.goPrev)}}>戻る</a>
    <button type="submit" class="btn btn-primary px-5" disabled={{not this.isNextButtonEnabled}}>次へ</button>
  </div>
</form>
