<form class="vstack gap-3" {{on 'submit' (prevent-default @nav.goNext)}}>
  <div class="card">
    <div class="card-body bg-lighth">
      {{t 'submission-form.metadata.entries-html' htmlSafe=true}}

      <div class="row row-cols-2">
        <div class="col">
          <label for="entriesCount" class="form-label">
            {{t 'submission-form.metadata.entries-count'}}
            <small class="text-danger">{{t 'submission-form.metadata.required'}}</small>
          </label>

          <input type="number" value={{@model.entriesCount}} readonly={{not (is-empty @state.files)}} required min="1" class="form-control" id="entriesCount" {{on 'change' (pick 'target.value' (set @model 'entriesCount'))}} />
        </div>

        <div class="col vstack gap-1">
          <div>
            <label for="holdDate" class="form-label">
              {{t 'submission-form.metadata.hold-date'}}
              <small class="text-muted">{{t 'submission-form.metadata.optional'}}</small>
            </label>

            <input type="date" value={{@model.holdDate}} readonly={{not (is-empty @state.files)}} disabled={{@state.releaseImmediately}} required class="form-control" id="holdDate" {{on 'change' (pick 'target.value' (set @model 'holdDate'))}} />
          </div>

          <div class="form-check">
            <input type="checkbox" checked={{@state.releaseImmediately}} disabled={{not (is-empty @state.files)}} class="form-check-input" id="releaseImmediately" {{on 'change' (pick 'target.checked' this.setReleaseImmediately)}} />
            <label for="releaseImmediately" class="form-check-label">{{t 'submission-form.metadata.release-immediately'}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      {{t 'submission-form.metadata.contact-person-html' htmlSafe=true}}

      <div class="row row-cols-2 gy-3">
        {{#let @model.contactPerson as |person|}}
          <div class="col">
            <label for="contactPerson.email" class="form-label">
              {{t 'submission-form.metadata.email'}}
              <small class="text-danger">{{t 'submission-form.metadata.required'}}</small>
            </label>

            <input type="email" value={{person.email}} readonly={{@state.isContactPersonReadonly}} required title={{t 'submission-form.metadata.email-title'}} class="form-control" id="contactPerson.email" {{on 'change' (pick 'target.value' (set person 'email'))}} />
          </div>

          <div class="col">
            <label for="contactPerson.fullName" class="form-label">
              {{t 'submission-form.metadata.full-name'}}
              <small class="text-danger">{{t 'submission-form.metadata.required'}}</small>
            </label>

            <input type="text" value={{person.fullName}} readonly={{@state.isContactPersonReadonly}} required pattern="[a-zA-Z\.,\-' ]*" maxlength="255" title={{t 'submission-form.metadata.full-name-title'}} class="form-control" id="contactPerson.fullName" {{on 'change' (pick 'target.value' (set person 'fullName'))}} />
          </div>

          <div class="col">
            <label for="contactPerson.affiliation" class="form-label">
              {{t 'submission-form.metadata.affiliation'}}
              <small class="text-danger">{{t 'submission-form.metadata.required'}}</small>
            </label>

            <input type="text" value={{person.affiliation}} readonly={{@state.isContactPersonReadonly}} required pattern="^((?!`|\\)[ -~])*$" maxlength="255" title={{t 'submission-form.metadata.affiliation-title'}} class="form-control" id="contactPerson.affiliation" {{on 'change' (pick 'target.value' (set person 'affiliation'))}} />
          </div>
        {{/let}}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      {{t 'submission-form.metadata.other-person-html' htmlSafe=true}}

      <div class="card">
        <ul class="list-group list-group-flush">
          {{#each @model.otherPeople as |person i|}}
            <li class="list-group-item">
              <div class="row">
                <div class="col">
                  <label for="otherPerson.{{i}}.email" class="form-label">
                    {{t 'submission-form.metadata.email'}}
                    <small class="text-danger">{{t 'submission-form.metadata.required'}}</small>
                  </label>

                  <input type="email" value={{person.email}} required={{true}} title={{t 'submission-form.metadata.email-title'}} class="form-control" id="otherPerson.{{i}}.email" {{on 'change' (pick 'target.value' (set person 'email'))}} />
                </div>

                <div class="col">
                  <label for="otherPerson.{{i}}.fullName" class="form-label">
                    {{t 'submission-form.metadata.full-name'}}
                    <small class="text-danger">{{t 'submission-form.metadata.required'}}</small>
                  </label>

                  <input type="text" value={{person.fullName}} required={{true}} pattern="[a-zA-Z\.,\-' ]*" maxlength="255" title={{t 'submission-form.metadata.full-name-title'}} class="form-control" id="otherPerson.{{i}}.fullName" {{on 'change' (pick 'target.value' (set person 'fullName'))}} />
                </div>

                <div class="col-auto align-self-center">
                  <button type="button" class="btn btn-link p-2" {{on 'click' (prevent-default (fn this.removeOtherPerson person))}}>
                    {{svg-jar 'no-entry-24' class='octicon fill-danger' role='img' desc=(t 'submission-form.metadata.remove')}}
                  </button>
                </div>
              </div>
            </li>
          {{else}}
            <li class="list-group-item py-3 text-muted text-center">
              {{t 'submission-form.metadata.no-other-person'}}
            </li>
          {{/each}}
        </ul>

        <div class="card-footer bg-white">
          <button type="button" class="btn btn-outline-primary" {{on 'click' (prevent-default this.addOtherPerson)}}>
            {{t 'submission-form.metadata.add'}}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <p>
        {{t 'submission-form.metadata.sequencer'}}
        <small class="text-danger">{{t 'submission-form.metadata.required'}}</small>
      </p>

      <RadioGroup as |group|>
        {{#each (enum 'sequencers') as |sequencer|}}
          <div class="form-check">
            <group.radio as |radio|>
              <radio.input checked={{eq @model.sequencer sequencer.key}} class="form-check-input" required {{on 'change' (set @model 'sequencer' sequencer.key)}} />

              <radio.label class="form-check-label">
                {{sequencer.label}}
              </radio.label>
            </group.radio>
          </div>
        {{/each}}
      </RadioGroup>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <label for="dataType" class="form-label">
        {{t 'submission-form.metadata.data-type'}}
        <small class="text-danger">{{t 'submission-form.metadata.required'}}</small>
      </label>

      <select required class="form-select" id="dataType" {{on 'change' (pick 'target.value' (set @model 'dataType'))}}>
        <option selected={{is-none @model.dataType}}></option>

        {{#each (enum 'data_types') as |type|}}
          <option value={{type.key}} selected={{eq @model.dataType type.key}}>
            {{type.label}}
          </option>
        {{/each}}
      </select>

      <div class="form-text">
        {{t 'submission-form.metadata.data-type-text-html' htmlSafe=true}}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <label for="description" class="form-label">
        {{t 'submission-form.metadata.description'}}
        <small class="text-muted">{{t 'submission-form.metadata.optional'}}</small>
      </label>

      <textarea maxlength="1000" rows="8" placeholder={{t 'submission-form.metadata.description-placeholder'}} class="form-control" id="description" {{on 'input' (pick 'target.value' (set @model 'description'))}}>{{@model.description}}</textarea>

      <div class="form-text text-end">
        {{!-- template-lint-disable no-bare-strings --}}
        {{or @model.description.length 0}} / 1000
      </div>

      <div class="form-text">
        {{t 'submission-form.metadata.description-text-html'}}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <p>
        {{t 'submission-form.metadata.email-language'}}
        <small class="text-danger">{{t 'submission-form.metadata.required'}}</small>
      </p>

      <RadioGroup as |group|>
        {{#each (enum 'locales') as |locale|}}
          <div class="form-check">
            <group.radio as |radio|>
              <radio.input checked={{eq @model.emailLanguage locale.key}} required class="form-check-input" {{on 'change' (set @model 'emailLanguage' locale.key)}} />

              <radio.label class="form-check-label">
                {{t (concat 'locales.' locale.key)}}
              </radio.label>
            </group.radio>
          </div>
        {{/each}}
      </RadioGroup>
    </div>
  </div>

  <div class="hstack gap-3 justify-content-end">
    <a href class="btn btn-outline-primary px-4" {{on 'click' (prevent-default @nav.goPrev)}}>{{t 'submission-form.nav.back'}}</a>
    <button type="submit" class="btn btn-primary px-5">{{t 'submission-form.nav.next'}}</button>
  </div>
</form>
