<p>
  登録可能なデータは次の通りです。<br />
  <a href="https://www.ddbj.nig.ac.jp/documents/data-categories.html#accept" target="_blank" rel="noopener noreferrer">https://www.ddbj.nig.ac.jp/documents/data-categories.html#accept</a>
</p>

<p>以下のすべてに該当する場合のみ申し込みできます。いずれか該当しない場合は submission を分け、submsssion ごとに MSS 申し込みを行ってください。</p>

<ul>
  <li>コンタクトパーソンが同一である</li>
  <li>登録データ種別が1種類である</li>
  <li>公開予定日が同一である</li>
</ul>

<form {{on 'submit' (prevent-default @nav.goNext)}}>
  <div class="vstack gap-3">
    <div class="card">
      <div class="card-body">
        <p>今回登録する配列について当てはまるものを選択してください。</p>

        <RadioGroup as |group|>
          <div class="form-check">
            <group.radio as |radio|>
              <radio.input checked={{eq @state.maybeTpa false}} required class="form-check-input" {{on 'change' (fn this.setMaybeTpa false)}} />

              <radio.label class="form-check-label">
                {{t 'submission-form.prerequisite.a1-1'}}
              </radio.label>
            </group.radio>
          </div>

          <div class="hstack gap-3">
            <div class="form-check">
              <group.radio as |radio|>
                <radio.input checked={{eq @state.maybeTpa true}} required class="form-check-input" {{on 'change' (fn this.setMaybeTpa true)}} />

                <radio.label class="form-check-label">
                  {{t 'submission-form.prerequisite.a1-2'}}
                </radio.label>
              </group.radio>
            </div>

            <small>
              <a href={{t 'submission-form.prerequisite.about-tpa-url'}} target="_blank" rel="noopener noreferrer">
                {{svg-jar 'question-16' class='octicon' width='14px' style='margin-top: 2px'}} {{t 'submission-form.prerequisite.about-tpa'}}
              </a>
            </small>
          </div>
        </RadioGroup>
      </div>
    </div>

    {{#if @state.maybeTpa}}
      <div class="card">
        <div class="card-body">
          <p>
            MSS で TPA の登録を申請する場合、申請対象の配列作成に関する情報が査読付き論文として公開される必要があります。当てはまるものを選択してください。
          </p>

          <RadioGroup as |group|>
            <div class="form-check">
              <group.radio as |radio|>
                <radio.input checked={{eq @model.tpa true}} required class="form-check-input" {{on 'change' (set @model 'tpa' true)}} />

                <radio.label class="form-check-label">
                  {{t 'submission-form.prerequisite.a2-1'}}
                </radio.label>
              </group.radio>
            </div>

            <div class="form-check">
              <group.radio as |radio|>
                <radio.input checked={{eq @model.tpa false}} required class="form-check-input" {{on 'change' (set @model 'tpa' false)}} />

                <radio.label class="form-check-label">
                  {{t 'submission-form.prerequisite.a2-2'}}
                </radio.label>
              </group.radio>
            </div>
          </RadioGroup>
        </div>
      </div>
    {{/if}}
  </div>

  <hr />

  {{#if (and @state.maybeTpa (eq @model.tpa false))}}
    <p>TPAの場合、論文を準備しないのであれば申し込みできません。</p>

    <LinkTo @route="home">ホームに戻る</LinkTo>
  {{else}}
    <div class="hstack gap-3 justify-content-end">
      <button type="submit" class="btn btn-primary px-5">次へ</button>
    </div>
  {{/if}}
</form>
