<h1 class="display-6 my-4">{{@model.id}}</h1>

<LinkTo @route="submission.upload" @model={{@model}} class="btn btn-outline-primary">
  {{t "submission.show.re-upload"}}
</LinkTo>

<h2 class="mt-4">{{t "submission.show.submission-files"}}</h2>

<div class="vstack gap-3">
  {{#each (sort-by "id" @model.uploads) as |upload|}}
    <div class="card">
      <div class="card-header">
        {{format-time
          upload.created_at
          year="numeric"
          month="long"
          day="numeric"
          hour="numeric"
          minute="numeric"
          timeZoneName="short"
        }}
      </div>

      <ul class="list-group list-group-flush">
        {{#each upload.files as |file|}}
          <li class="list-group-item">{{file}}</li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
</div>